
.body-conf-table-container{
    padding:5px;
    background:rgb(255, 255, 255);
}

.header-entretien-table{
    background:rgb(47, 27, 73);
    

}

.contenaier-general-entretien{
    background:rgb(255, 255, 255);

}