

.first{
    display: block;
}

.second{
    display: block;
}

.third{
    display: block;
}
.titre-verif{
    font-style: italic;
    font-weight:lighter;
}

.input-other-structure{
   
    width:40em;
}

/* input[type="file"] {
    display: none;
} */
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 20px;
    cursor: pointer;
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}


.sendFromBtn{
    position: absolute;
    margin-top: 1.8em;
    left: 81%;
    font-weight: bolder;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    color: #fff;
    background:rgb(56, 57, 133);
    border-radius: 3em;
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    -ms-border-radius: 3em;
    -o-border-radius: 3em;
}


.sendFromBtn:hover{
    color: #fff;
    background:rgb(14, 15, 43);
}

.sendFromBtn:active,.sendFromBtn:focus{
   
    color: #fff;
    background:rgb(56, 57, 133);
}