/*
style de la page eventDetails 
*/

.header-entreprise-detail-container{
 
    margin-top: 8em;
    padding-top: 2em;
    z-index: 0;
    position: relative;
}

.container-entreprise-header{
    position: relative;
    z-index: 1;
    opacity: 999;
    
}

.nom-entreprise-div{
    z-index: 999;
    color: #fff;
    opacity: 1;
}
.nom-entreprise-div h1{
    z-index: 999;
    color: #fff;
}

.panel-entreprise-header{
    font-size:18px;
}

.panel-entreprise-header .text-desc{
    color: blue;
    font-weight: bold;
}

.header-entreprise-detail-container .img-entreprise{
    height: 100%;
    width: 100%;
    position: relative;
    opacity: 0.4;
}

.header-title-container{
    height:20%;
    background-color: rgba(15, 14, 14, 0.308);
    position: absolute;
    top: 13em;
    width:100%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    
} 

.header-title-container > div{
    background-color: rgba(0, 0, 0, 0.363);
    text-align: center;
    padding: 2em 0em;
    color: white;
    font-family:'open sans', 'Helvetica Neue';
}

.header-title-container > div h1{
    font-weight: bold;
    font-style: italic;
}

.header-styled-description{
    height:10em;
    background-color: rgb(255, 255, 255);
    position: relative;

}



@media screen and (max-width: 768px) {
   
.panel-entreprise-header .text-desc{
    color: blue;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

}


@media screen and (max-width: 580px) and (min-width: 480px) {
     

}


