
.before-body-container{
    /* background: url("../../../assets/images/eventDetails/bgEventD.png") no-repeat;
    background-size: cover; */
    
}

.btn-participer{
    background-color:#170936;
    padding:1em 3em ;
    color:#fff;
}

.btn-annuler{
    padding:1em 3em ;
}



.btn-participer:hover{
    background-color:#000000;
    color:#fff;
}


.btn-participer:focus{
    background-color:#000000;
    padding:1em 3em ;
    color:#fff;
}

.body-chronogramme{
   padding: 2em;
   background-color: rgba(0, 0, 0, 0.986);
    
    margin-top: 3em;
    color: #fff;
    font-family:'Open Sans',sans-serif;
}


 
.body-chronogramme >h1{
    color: rgb(255, 255, 255);
    font-family:'Open Sans',sans-serif;
    margin-bottom: 0em;
}

.body-chronogramme .bottom-style{
    margin:auto;
    text-align: center;
    width: 40%;
    background-color:rgb(153, 4, 4);
    height: 10px;
    margin-bottom: 4em;
}

.gallery-event-container .bottom-style{
    margin:auto;
    text-align: center;
    width: 40%;
    background-color:rgb(6, 4, 153);
    height: 10px;
    margin-bottom: 4em;
}



.plus-info-description-event{
   display: flex;
   justify-content: space-around;
}

.row-description .div-container-h3 {
   margin: auto;
   padding: auto; 

}

.h1-description-event{
    color: purple;
    margin-bottom: 0.5em;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}


.video-card-event {
    border-radius: 2em;
    padding:1em;
    border-right: 0.5em solid purple;
}




/* stylisation du contenant des poste dans events details */

.poste-event-details{
    margin-top: 7em;
}

.poste-event-details >h1{
    color: purple;
    margin-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
    text-align: center;
}

.poste-event-postes{
    display: flex;
    justify-content: space-around;
    
}


.conference-event-conferences{
    display: flex;
    justify-content: space-around;

}



/* fin */

/* entreprise container stylisation */
.page-seconde-container{
    background-color:rgb(255, 255, 255);
     background-position-x: left;
     padding-top:1em;
     margin-top: 5em;
     position: relative;
     padding-bottom: 2em;
     z-index: 9;
 }
 .page-seconde-container::before{
    content:'';
    display: block;
    background-color:rgba(11, 14, 219, 0.568);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: (0,0);
    transform: skewY(2deg);
    z-index: 1;

 }
 
.entreprise-event-entreprise{


}


  

.entreprises-event-details{
    position: relative;
    z-index:9;
}
 

.entreprises-event-details >h3{
    color: rgb(255, 255, 255);
    margin-top: 1em;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

 
/* fin */


