/*
style de la page eventDetails 
*/

.header-event-detail-container{
    /* height: 30em;
    margin-top: 7.2em; */
    padding: 1em  4em  0em  4em;
    margin-top: 8em;
    background: rgb(176,63,251);
    background: radial-gradient(circle, rgb(51, 45, 54) 0%, rgb(29, 9, 26)100%);
   
}

.header-event-detail-container img{
    height:100%;
    width:100%;
    /* background-size:cover; */
    background-attachment: fixed;
    


}




.header-styled-container{
    
    
}



.header-styled-container .date-container-detail{
    
}

.header-styled-container .info-date-container-detail{
    
}

.description-event-container-detail{
    
}

@media screen and (max-width: 768px) {
    .header-event-detail-container{
        /* height: 30em;
        margin-top: 7.2em; */
        padding: 1em  1em  0em  1em;
        margin-top: 8em;
        background: rgb(176,63,251);
        background: radial-gradient(circle, rgb(51, 45, 54) 0%, rgb(29, 9, 26)100%);
    
    } 
    

}


@media screen and (max-width: 580px) and (min-width: 480px) {
        
    .header-styled-container .info-date-container-detail ,.date-container-detail{
        font-size: 10px;
    }
    .header-event-detail-container{
        /* height: 30em;
        margin-top: 7.2em; */
        padding: 1em  1em  0em  1em;
        margin-top: 8em;
        background: rgb(176,63,251);
        background: radial-gradient(circle, rgb(51, 45, 54) 0%, rgb(29, 9, 26)100%);
    
    }

}