
.allconferences-table-container{
    

}

.body-allconference{

}

.allconference-btn-control-container{
    border-left: 3px solid #440544;
    border-right: 3px solid #440544;
    border-bottom: 3px solid #440544;
    border-radius: 0em 0em 1em 1em ;
    -webkit-border-radius: 0em 0em 1em 1em ;
    -moz-border-radius: 0em 0em 1em 1em ;
    -ms-border-radius: 0em 0em 1em 1em ;
    -o-border-radius: 0em 0em 1em 1em ;
}

.allconf-btn{
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    border-bottom-right-radius: 2em;
    background:#fff !important;
    border:1px solid purple;
    color:purple !important;
    margin: 0em 1em;
    transition: all 0.5s ease-in-out;
}

.allconf-btn:hover{
    background:purple !important;
    color:#fff !important;
    transition: all 0.5s ease-in-out;
}

.allconf-btn:focus{
    background:purple !important;
    color:#fff !important;
    transition: all 0.5s ease-in-out;
}


.container-general-allconf{
    background:#fff;
}

.style-special-bg{
    background: #440544;
}
